* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
}
p {
  color: hsl(229, 6%, 66%);
}
.main {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
article.header {
  margin-bottom: 5em;
  max-width: 500px;
  margin: 0 auto;
}

article.header p {
  line-height: 2em;
}
.header h1:nth-of-type(1) {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.header h1:nth-of-type(2) {
  font-weight: 600;
  margin-bottom: 1em;
}

.container {
  display: flex;
  flex-direction: column;
}

.container article,
.container .flex-container .mid-flex {
  flex: 1;
  text-align: left;
  background-color: white;
  border-radius: 0.5em;
  padding: 30px;
  width: 100%;
  box-shadow: 5px 5px 10px 0px hsl(229, 6%, 66%);
  overflow-y: hidden;
  max-width: 400px;
  max-height: 300px;
  margin: 1em auto;
}
.container article::after,
.container .flex-container .mid-flex::after {
  content: "";
  clear: both;
  display: table;
}

.container article h1,
.container .flex-container .mid-flex h1 {
  margin-bottom: 0.5em;
}
.container article p,
.container .flex-container .mid-flex p {
  line-height: 2em;
}

.container article img,
.container .flex-container .mid-flex img {
  float: right;
  margin-top: 2em;
}

.container article:nth-of-type(1) {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.container .flex-container .mid-flex:nth-of-type(1) {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.container .flex-container .mid-flex:nth-of-type(2) {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.container article:nth-of-type(2) {
  border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 1052px) {
  header h1 {
    font-size: 32px;
  }

  .container {
    flex-direction: row;
    align-items: center;
    height: 800px;
  }

  .container .flex-container {
    display: flex;
    flex-direction: column;
  }

  .container .mid-flex {
    flex: 1;
  }
  .container article,
  .container .flex-container .mid-flex {
    height: 300px;
    min-height: 300px;
    max-width: 400px;
  }
  .container article:nth-of-type(1) {
    margin-right: 30px;
  }

  .container article:nth-of-type(2) {
    margin-left: 30px;
  }
}
